* {
    text-shadow: none;
}

window#waybar {
    /* Large size for shorter side padding*/
    /* border-radius: 100px */
    background-color: transparent;
    opacity: 0.8;
}

.modules-left {
    border-radius: 100px;
    background-color: rgba(18, 18, 18, 1);
    padding: 0 8px;
}

.modules-center {
    border-radius: 100px;
    background-color: rgba(18, 18, 18, 1);
}

.modules-right {
    border-radius: 100px;
    background-color: rgba(18, 18, 18, 1);
    padding: 0 8px;
}

tooltip {
    background-color: rgba(18, 18, 18, 1);
    border: 1px solid rgba(34, 34, 34, 0.5);
    border-radius: 4px;
    font-family: "PragmataPro liga", "LXGW Wenkai", "Symbols Nerd Font";
    font-size: 14px;
}

#clock,
#cpu,
#memory,
#temperature,
#disk,
#network,
#wireplumber,
#tray,
#battery,
#bluetooth,
#mode,
#custom-power,
#custom-log-off,
#custom-suspend,
#custom-reboot,
#custom-lock,
#window,
#workspaces {
    background-color: transparent;
    font-family: "PragmataPro liga", "LXGW Wenkai", "Symbols Nerd Font";
    font-size: 14px;
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
    padding: 4px;
    margin: 4px;
}

#clock:hover,
#cpu:hover,
#memory:hover,
#temperature:hover,
#disk:hover,
#network:hover,
#wireplumber:hover,
#tray:hover,
#battery:hover,
#bluetooth:hover,
#mode:hover,
#custom-log-off:hover,
#custom-power:hover,
#custom-reboot:hover,
#custom-suspend:hover,
#custom-lock:hover,
#window:hover,
#workspaces:hover {
    background: rgba(129, 161, 193, 0.4);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
}

#workspaces {
    /* border: rgba(255, 255, 255, 0.2) solid 2px; */
    padding: 4px 12px;

    transition-property: background, color, border;
    transition-duration: 0.2s;
}

#workspaces button {
    border: none;
    border-radius: 0px;
    padding: 0px 0px;
    background: transparent;
    color: #ffffff;
    margin: 0 4px;
    min-width: 24px;

    transition-property: background, color, border, margin, padding;
    transition-duration: 0.2s;
}

#workspaces button:hover {
    /* background: rgba(255, 255, 255, 0.5); */
    color: rgba(255, 255, 255, 0.5);
}

#workspaces button.empty {
    color: rgba(255, 255, 255, 0.25);
}

#workspaces button.active {
    /* background: #ffffff; */
    color: #ffffff;
    border-bottom: 2px solid #ffffff;
    margin-bottom: 1px;
    /* padding: 0 4px; */
}

#workspaces button.urgent {
    color: #eb4d4b;
    border-bottom: 3px solid #eb4d4b;
}

#mode {
    background-color: #64727d;
    border-bottom: 3px solid #ffffff;
}

#battery.full,
#bluetooth.on {
    color: #a0e0a0;
}

#battery.critical,
#bluetooth.off,
#wireplumber.muted {
    color: #fe968b;
}

#battery.warning {
    color: #ffeaaa;
}

#cpu,
#disk,
#clock,
#memory,
#network,
#temperature,
#wireplumber,
#custom-log-off,
#custom-reboot,
#custom-lock,
#custom-suspend,
#custom-power {
    color: #b0f5e5;
}

#custom-power:hover,
#custom-log-off:hover {
    color: #eb4d4b;
}

#custom-reboot:hover {
    color: #f6c177;
}

#custom-lock:hover {
    color: #a0e0a0;
}

#custom-suspend:hover {
    color: #b294bb;
}

#tray {
    /* border: rgba(255, 255, 255, 0.2) solid 2px; */
    color: transparent;
}

#window {
    color: #e6f2d6;
    margin-left: 4px;
}
