* {
    font-family: "PragmataPro Liga", "LXGW Wenkai";
    font-size: 14px;
    text-shadow: none;
}

window#waybar {
    background-color: transparent;
    opacity: 0.8;
}

.modules-left {
    border-radius: 100px;
    background-color: rgba(18, 18, 18, 1);
    padding: 0 8px;
}

.modules-center {
    border-radius: 100px;
    background-color: rgba(18, 18, 18, 1);
}

.modules-right {
    border-radius: 100px;
    background-color: rgba(18, 18, 18, 1);
    padding: 0 8px;
}

tooltip {
    background-color: rgba(18, 18, 18, 1);
    border: 1px solid rgba(34, 34, 34, 0.5);
    border-radius: 4px;
}

#clock,
#cpu,
#memory,
#temperature,
#disk,
#network,
#wireplumber,
#tray,
#battery,
#bluetooth,
#mode,
#privacy,
#custom-power,
#custom-log-off,
#custom-suspend,
#custom-reboot,
#custom-lock,
#window,
#workspaces {
    background-color: transparent;
    transition: border-bottom 0.6s ease;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
    padding: 4px;
    margin: 4px;
}

#clock:hover,
#cpu:hover,
#memory:hover,
#temperature:hover,
#privacy:hover,
#disk:hover,
#network:hover,
#wireplumber:hover,
#tray:hover,
#battery:hover,
#bluetooth:hover,
#mode:hover,
#custom-log-off:hover,
#custom-power:hover,
#custom-reboot:hover,
#custom-suspend:hover,
#custom-lock:hover {
    border-bottom: 2px solid #ffffff;
}

#workspaces {
    padding: 4px 12px;
    transition-property: background, color, border;
    transition-duration: 0.2s;
}

#workspaces button {
    border: none;
    border-radius: 0px;
    padding: 0px 0px;
    background: transparent;
    color: #ffffff;
    margin: 0 4px;
    min-width: 24px;
    transition: border-bottom 0.6s ease;
    transition-property: background, color, border, margin, padding;
    transition-duration: 0.6s;
}

#workspaces button:hover {
    color: rgba(255, 255, 255, 0.5);
    border-bottom: 2px solid #ffffff;
}

#workspaces button.empty {
    color: rgba(255, 255, 255, 0.25);
}

#workspaces button.active {
    color: #ffffff;
    border-bottom: 2px solid #ffffff;
    margin-bottom: 1px;
}

#workspaces button.urgent {
    color: #eb4d4b;
    border-bottom: 3px solid #eb4d4b;
}

#mode {
    background-color: #64727d;
    border-bottom: 3px solid #ffffff;
}

#cpu,
#disk,
#clock,
#memory,
#network,
#temperature,
#wireplumber,
#custom-log-off,
#custom-reboot,
#custom-lock,
#custom-suspend,
#custom-power,
#window {
    color: #e6f2d6;
}

#battery.full,
#bluetooth.on {
    color: #a0e0a0;
}

#battery.critical,
#bluetooth.off,
#wireplumber.muted {
    color: #fe968b;
}

#battery.warning {
    color: #ffeaaa;
}

#tray {
    color: transparent;
}
